<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css">
	</head>
	<body>
		<h1>{{ message }}</h1>
	</body>
</html>